@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

/* Colors */
:root{
    --color-principal-scrollbar:#09c867;
    --color-secundario-scrollbar:#0960c8;
    --color-body-selection:#09c867;
    --color-principal-header:#0960c8 ;
    --color-secundario-header:white;
    --color-terciario-header:#09c867;
    --color-principal-sidebar:#0960c8;
    --color-secundario-sidebar:white;
    --color-terciario-sidebar:#09c867;
    --body-color: #aecdf3;
    --body-select-hover-checked:#09c86881;
    --color-principal-main:#0960c8;
    --color-secundario-main:#09c867;
    --color-terciario-main:white;
}

/* End Colors */

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Main */
.main__container__top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.main__buttons{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.main__buttons__button{
    color: var(--color-terciario-main);
    background-color: var(--color-secundario-main);
    padding: 0.413em .8em;
    border-radius: 16px;
    font-size: 1em;
    text-align: center;
    cursor: pointer;
}

.main__buttons__button:hover{
    cursor: pointer;
    background-color: var(--body-select-hover-checked);
}

.main__h1--emoji{
    color: var(--color-principal-main);
    font-size: 1.875em;
    margin-right:0.625em ;
}

.main__h1{
    display: inline-block;
    font-size: 1.875em;
    color: var(--color-principal-main);
}

.main__user{
    margin: 1.875em 1em;
}

.main__user__content{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    font-weight: bold;
    color: var(--color-principal-main);
    gap: 1em;
}

.main__user__content__bloque{
    display: flex;
    flex-direction: column;
    gap: 1em;
}


.main__user__content__bloque__content{
    display: flex;
    flex-direction: row;
    gap: .5em;
    align-items: center;
}

.main__user__content__bloque__content--cruces{
    width: 31em;
}

.main__user__content__bloque__content__respuesta{
    font-weight: bold;
    color: var(--color-secundario-main);
}

.main__user__content__bloque__content__respuesta--situacion{
    padding: .3em;
    border: 2px solid var(--color-principal-main);
    border-radius: 50%;
}

.main__user__content__bloque__content__respuesta--precio{
    color:var(--color-principal-main);
}

.consultas__datos-cliente__situacion{
    padding: .25em;
    border: 2px solid white;
    border-radius: 50%;
}

.main__seguimiento{
    margin-top: 8vh;
}

.main__container__top--seguimiento{
    margin-top: 1.875em;
}

.tareas--pendientes__list{
    margin-top:1.875em;
    background-color: #aecdf3;
    width: 100%;
    border-radius: 1.25em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1.25em;
    gap: 1.25em;
    color: var(--color-terciario-main);
    font-size: 1em;
}

.tareas--pendientes__li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #87b0e3;
    border-radius: 1.25em;
    padding: 1.25em;
    overflow-x: auto;
    flex-basis: 33.33%;
}

.tareas--pendientes__tarea{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 1.25em;
    align-items: flex-start;
    width: 100%;
}

.tareas--pendientes__tarea--bold{
    text-align: left;
    font-weight: bold;
}

.tareas--pendientes__nombre{
    padding-right: 1.25em;
}


/* End Main */

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */



@media screen and (max-width:1182px) {
    .main__user{
        display: flex;
        justify-content: center;
    }

    .main__user__content{
        flex-direction: column;
        justify-content: start;
        margin: 0 auto;
    }

    .generico{
        width: 20em;
    }
}

@media screen and (max-width:584px) {
    .main__buttons{
        flex-direction: column;
        margin: 0.4em;
    }

    .main__buttons__button{
        padding: 0.413em .4em ;
    }

    .main__user__content__bloque__content--cruces{
        width: 90dvw;
    }
}

@media screen and (max-width:394px) {
    .main__container__top{
        justify-content: center;
    }
}