@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

/* Colors */
:root {
  --color-principal-scrollbar: #09c867;
  --color-secundario-scrollbar: #0960c8;
  --color-body-selection: #09c867;
  --color-principal-header: #0960c8;
  --color-secundario-header: white;
  --color-terciario-header: #09c867;
  --color-principal-sidebar: #0960c8;
  --color-secundario-sidebar: white;
  --color-terciario-sidebar: #09c867;
  --body-color: #aecdf3;
  --body-select-hover-checked: #09c86881;
  --color-principal-main: #0960c8;
  --color-secundario-main: #09c867;
  --color-terciario-main: white;
}

/* End Colors */

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Main */
.main__container__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.main__buttons {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.main__buttons__button {
  color: var(--color-terciario-main);
  background-color: var(--color-secundario-main);
  padding: 0.413em 0.8em;
  border-radius: 16px;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
}

.main__buttons__button:hover {
  cursor: pointer;
  background-color: var(--body-select-hover-checked);
}

.main__buttons__button--active {
  background-color: var(--color-principal-main);
  pointer-events: none;
  user-select: none;
}

.main__h1--emoji {
  color: var(--color-principal-main);
  font-size: 1.875em;
  margin-right: 0.625em;
}

.main__h1 {
  display: inline-block;
  font-size: 1.875em;
  color: var(--color-principal-main);
}

.main__perfil {
  margin: 1.875em 1em;
}

.main__perfil__container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  align-items: center;
  width: 30em;
  margin: 0 auto;
}

.perfil__bloque {
  width: 100%;
  text-align: center;
}

.perfil__bloque__content {
  width: 100%;
  text-align: center;
  background-color: var(--color-principal-main);
  color: var(--color-terciario-main);
  border-radius: 1.25em;
  padding: 0.5em 1em;
  font-size: 1em;
}

.perfil__bloque__content input {
  width: 100%;
}

.perfil__bloque__content__color{
  appearance: auto;
  width: 100%;
  height: 3em;
  cursor: pointer;
  border: none;
  margin: 0;
}

.perfil__bloque__content__submit {
  width: 100%;
  text-align: center;
  background-color: var(--color-secundario-main);
  color: var(--color-terciario-main);
  border-radius: 1.25em;
  padding: 0.5em 1em;
  font-size: 1em;
}

.perfil__bloque__content__submit:hover {
  cursor: pointer;
  background-color: var(--body-select-hover-checked);
}

.perfil__bloque__content__notsubmit {
  display: block;
  width: 100%;
  text-align: center;
  background-color: red;
  color: var(--color-terciario-main);
  border-radius: 1.25em;
  padding: 0.5em 1em;
  font-size: 1em;
}

.perfil__bloque__content__notsubmit:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.514);
}

textarea {
  height: 100%;
  overflow: hidden;
  -webkit-appearance: textarea !important;
  -moz-appearance: textarea !important;
  -ms-appearance: textarea !important;
  -o-appearance: textarea !important;
  appearance: textarea !important;
}

.perfil__bloque__fake-label {
  padding: 0 8%;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  text-align: center;
  margin: 0 auto;
  background-color: #09c867;
  color: white;
}

.form__textarea{
  width: 100%;
  padding: 0.313em 1em;
  background-color: var(--color-principal-main);
  color: white;
  border-radius: 1em;
  overflow-wrap: break-word;
  resize: vertical;
} 

.files-area{
  margin-top: 1em;
  text-align: center;
}

.files-area span{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.files-names{
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.file-block{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5em;
  background-color: var(--color-principal-main);
  width: fit-content;
  padding: .5em;
  border-radius: 1em;
}

.file-delete{
  order: 2;
  color: red;
  font-size: 1.4em;
}

.file-delete:hover{
  color: rgba(255, 0, 0, 0.459);
  cursor: pointer;
}

.files-names{
  color: white;
}

/* End Main */

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media screen and (max-width: 778px) {
  .main__perfil__container {
    width: 90%;
  }
}

@media screen and (max-width: 584px) {
  .main__buttons {
    flex-direction: column;
    margin: 0.4em;
  }

  .main__buttons__button {
    padding: 0.413em 0.4em;
  }
}

@media screen and (max-width: 394px) {
  .main__container__top {
    justify-content: center;
  }
}
