@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

/* Global */
:root{
    --color-principal-scrollbar:#09c867;
    --color-secundario-scrollbar:#0960c8;
    --color-body-selection:#09c867;
    --color-principal-header:#0960c8 ;
    --color-secundario-header:white;
    --color-terciario-header:#09c867;
    --color-principal-sidebar:#0960c8;
    --color-secundario-sidebar:white;
    --color-terciario-sidebar:#09c867;
    --body-color: #aecdf3;
    --body-select-hover-checked:#09c86881;
    --color-principal-main:#0960c8;
    --color-secundario-main:#09c867;
    --color-terciario-main:white;
}

body{
    min-height: 100vh;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0 auto;
}

/* Barra de Scroll */
body::-webkit-scrollbar {
    width: auto;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-thumb {
    background-color: var( --color-principal-scrollbar);    /* color of the scroll thumb */

}

body::-webkit-scrollbar-track {
    background: var( --color-secundario-scrollbar);        /* color of the tracking area */
}
  
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

*::selection{
    background-color: var(--color-body-selection);
}

.body__container{
    overflow-x: hidden;
    background-color: var(--body-color);
    min-height: 100vh;
}


ul{
    list-style: none;
}

a{
    text-decoration: none;
}
/* End Global */

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Header */
.header{
    width: 100%;
    height: 6.25em;
    background-color: var(--color-principal-header);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
}

.header__container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    padding: 0 5em;
}

.header__logo{
    cursor: pointer;
    user-select: none;
}

.header__logo h2{
    font-size: 1.25em;
    color: var(--color-secundario-sidebar);
    text-align: center;
    font-weight: bold;
}

.header__plus{
    font-size: 1.25em;
    color: white;
    display: none;
}

.header__form{
    width: 18.75em;
}

.header__search{
    background-color: var(--color-secundario-header);
    padding: 0.625em;
    border-radius: 3.125em;
    /* border: 0.188em solid var(--color-secundario-header); */
    text-align: start;
    width: 100%;
    color: var(--color-principal-header);
}

.header__search::placeholder{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}

.header__form__ul{
    background-color: white;
    position: absolute;
    width: 18.75em;
    border-radius: 1em;
    text-align: center;
    margin-top: .3em;
    box-shadow: 3px 11px 5px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 3px 11px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 3px 11px 5px 0px rgba(0,0,0,0.15);
    display: none;
    flex-direction: column;
    gap: .5em;
    padding: .3em 0;
}

.header__form__ul__li{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 1em;
}

.header__form__ul__li:hover{
    cursor: pointer;
    background-color: var(--color-secundario-main);
    font-weight: bold;
    color: white;
    border-radius: 1em;
}

.header__form__ul__li__img{
    width: 5em;
    text-align: center;
    padding-right: .3em;
    border-radius: 1em;
}

.header__ul{
    display: flex;
    gap: 2.5em;
}

.header__li{
    background-color: var(--color-secundario-header);
    padding: 0.313em 0.625em;
    border-radius: 50%;
    position: relative;
}

.header__li:hover{
    transform: scale(1.13);
}

.header__li-user__ul{
    top: calc((6.25em / 2) + 0.75em) ;
    width: 7em;
    text-align: left;
    position: absolute;
    left: -2.3em;
    right: 0;
    background-color: var(--color-principal-header);
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    text-align: center;
}

.header__li-user__ul--toggle{
    display: none;
}

.user__li{
    padding: 0.5em 0.5em ;
    color: white;
}

.header__a, .header__span{
    color: var(--color-principal-header);
    font-size: 1.25em;
    cursor: pointer;
}

.user__span{
    color: var(--color-secundario-main);
    font-weight: bold;
}

.user__a:hover{
    color: var(--color-terciario-header); 
}

/* End Header */

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Sidebar */
.sidebar{
    width: 12.5em;
    position: fixed;
    background-color: var(--color-principal-sidebar) ;
    top: 6.25em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 998;
}

/* .sidebar__nav{
    margin-top: 3.125em;
} */

.sidebar__li{
    margin-bottom:0.625em;
    padding: 0.625em 0;

}

.sidebar__li:hover{
    background-color: rgba(255, 255, 255, 0.438);
}

.sidebar__li--active{
    border-right: 0.25em solid var(--color-terciario-sidebar) ;
    background-color: rgba(255, 255, 255, 0.438);
}

.sidebar__a{
    color: var(--color-secundario-sidebar);
    font-size: 1.25em;
    margin-left: 10%;
}

.sidebar--toggle{
    visibility: hidden;
}

.sidebar__emoji{
    margin-right: 0.063em;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: inline-block;
    width: 1.875em;
}
/* End Sidebar */

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Main */
.main{
    padding: 6.25em 0 0 12.5em;
}

.main--toggle{
    padding-left: 0 ;
}


.main__container{
    min-height: 100vh;
    padding: 3%;
    background-color:white;
}
.main__decoration{
    content: '';
    width: 100%;
    border-top: 0.125em dotted var(--color-principal-main);
}
/* End Main */

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media screen and (max-width:858px) {
    .header__container{
        padding: 0 2em;
    }
}

@media screen and (max-width:768px) {

    .sidebar{
        visibility: hidden;
    }

    .sidebar__toggle{
        display: block;
        font-size: 1em;
        visibility: visible;
    }

    .sidebar--toggle{
        visibility: visible;
    }

    .main{
        padding: 6.25em 0 0 0;
    }

    .header__form, .header__form__ul{
        width: 11.6em;
    }

    .header__container{
        padding: 0 1em 0 1em;
    }

    .main--toggle{
        padding-left: 12.5em ;
    }

    .header__ul{
        gap: 1em;
    }

    .header__li-user__ul{
        left: -2.5em;
        width: 7em;
    }

}

@media screen and (max-width:480px) {
    .header__nav{
        position: fixed;
        right: 200%;
        background-color: var(--color-principal-header);
        top: 6.25em ;
        padding: 0.5em;
        border-bottom-left-radius:.5em ;
    }

    .header__nav--toggle{
        right: 0;
    }

    .header__plus{
        display: block;
    }

    .sidebar{
        width: 100%;
    }

    .header__li-user__ul{
        top: 2.3em;
        left: -.5em;
    }
}

@media screen and (max-width:360px) {
    
    .header__logo h2{
        font-size: 1em;
    }

    .header__form, .header__form__ul{
        width: 11em;
    }

    .header__plus{
        font-size: 1em;
    }

    .header__search::placeholder{
        font-size: 1em;
    }
}

@media screen and (max-width:335px){
    .header__form, .header__form__ul{
        width: 8em;
    }
}