@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

/* Global */
:root{
    --color-principal-scrollbar:#09c867;
    --color-secundario-scrollbar:#0960c8;
    --color-body-selection:#09c867;
    --color-principal-header:#0960c8 ;
    --color-secundario-header:white;
    --color-principal-sidebar:#0960c8;
    --color-secundario-sidebar:white;
    --color-terciario-sidebar:#09c867;
    --body-color: white;
    --body-select-hover-checked:#09c86881;
    --color-principal-main:#0960c8;
    --color-secundario-main:#09c867;
    --color-terciario-main:white;
}

body{
    min-height: 100vh;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0 auto;
}

/* Barra de Scroll */
body::-webkit-scrollbar {
    width: auto;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-thumb {
    background-color: var( --color-principal-scrollbar);    /* color of the scroll thumb */

}

body::-webkit-scrollbar-track {
    background: var( --color-secundario-scrollbar);        /* color of the tracking area */
}
  
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

*::selection{
    background-color: var(--color-body-selection);
}

.body__container{
    overflow-x: hidden;
    background-color: var(--body-color);
    min-height: 100vh;
    padding: 0 3em;
}


ul{
    list-style: none;
}

a{
    text-decoration: none;
}
/* End Global */

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Header */
.header{
    width: calc(100% - 6em);
    height: 6.25em;
    background-color: var(--color-principal-header);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
}
.header__container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    padding: 0 5em;
}

.header__logo h2{
    font-size: 1.25em;
    color: var(--color-secundario-sidebar);
    text-align: center;
    font-weight: bold;
}

.header__plus{
    font-size: 1.25em;
    color: white;
    display: none;
}

.header__form{
    width: 18.75em;
}

.header__search{
    background-color: var(--color-secundario-header);
    padding: 0.625em;
    border-radius: 3.125em;
    /* border: 0.188em solid var(--color-secundario-header); */
    text-align: start;
    width: 100%;
    color: var(--color-principal-header);
}

.header__search::placeholder{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}


.header__ul{
    display: flex;
    gap: 2.5em;
}

.header__li{
    background-color: var(--color-secundario-header);
    padding: 0.313em 0.625em;
    border-radius: 50%;
}


.header__li:hover{
    transform: scale(1.13);
}

.header__a{
    color: var(--color-principal-header);
    font-size: 1.25em;
}
/* End Header */

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Sidebar */
.sidebar{
    width: 12.5em;
    position: fixed;
    background-color: var(--color-principal-sidebar) ;
    top: 6.25em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 998;
}

/* .sidebar__nav{
    margin-top: 3.125em;
} */

.sidebar__li{
    margin-bottom:0.625em;
    padding: 0.625em 0;

}

.sidebar__li:hover{
    background-color: rgba(255, 255, 255, 0.438);
}

.sidebar__li--active{
    border-right: 0.25em solid var(--color-terciario-sidebar) ;
    background-color: rgba(255, 255, 255, 0.438);
}

.sidebar__a{
    color: var(--color-secundario-sidebar);
    font-size: 1.25em;
    margin-left: 10%;
}



.sidebar__emoji{
    margin-right: 0.063em;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: inline-block;
    width: 1.875em;
}
/* End Sidebar */

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Main */
.main{
    padding: 6.25em 0 0 12.5em;
}

.main--toggle{
    padding-left: 0 ;
}

.main__container{
    padding: 3%;
}

.main__h1--emoji{
    color: var(--color-principal-main);
    font-size: 1.875em;
    margin-right:0.625em ;
}

.main__h1{
    display: inline-block;
    font-size: 1.875em;
    color: var(--color-principal-main);
}

.main__decoration{
    content: '';
    width: 100%;
    border-top: 0.125em dotted var(--color-principal-main);
}

.main__atajos{
    display: flex;
    flex-direction: row;
    margin: 1.875em 0;
    justify-content: space-around;
}

.atajos__atajo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.188em solid var(--color-principal-main);
    width: 20%;
    padding: 1.25em 0;
    border-radius: 1.25em;
    gap: 0.75em;
}

.atajos__atajo:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.atajo__emoji{
    font-size: 5em;
    color: var(--color-principal-main);
}

.atajo__h2{
    font-size: 1.125em;
    color: var(--color-principal-main);
    font-weight: bold;
}

.atajo__button{
    color: var(--color-terciario-main);
    background-color: var(--color-secundario-main);
    padding: 0.313em 0.4em;
    border-radius: 16px;
    font-size: 1em;
}

.atajo__button:hover{
    cursor: pointer;
    background-color: var(--body-select-hover-checked);
    color: white;
}

.main__tareas{
    margin: 1.875em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tareas__form{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 1.875em;
}

.tareas__select, .tareas__search{
    width: 18.75em;
    text-align: center;
    background-color: var(--color-principal-main);
    color: var(--color-terciario-main);
    border-radius: 1.25em;
    padding: 0.313em 0;
    font-size: 1em;
}

.tareas__select:hover{
    cursor: pointer;
}

.tareas__select option:checked{
    background-color: var(--body-select-checked);
}


.tareas__search--btn{
    font-size: 1.25em;
    color: var(--color-principal-main);
    cursor: pointer;
}


.tareas--pendientes{
    margin-top:3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.875em;
    width: 100%;
}

.tareas--pendientes__h4{
    font-size: 1.125em;
    color: var(--color-principal-main);
    font-weight: bold;
}

.tareas--pendientes__form{
    display: block;
    width: 100%;
    
}


.tareas--pendientes__list{
    background-color: #aecdf3;
    width: 100%;
    border-radius: 1.25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.25em;
    gap: 1.25em;
    margin: 0 auto;
    color: var(--color-terciario-main);
    font-size: 1em;
}



.tareas--pendientes__li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #87b0e3;
    border-radius: 1.25em;
    padding: 1.25em;
    overflow-x: auto;
}

.tareas--pendientes__tarea{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 1.25em;
}


.tareas--pendientes__nombre{
    padding-right: 1.25em;
}



.tareas--pendientes__checkbox{
    width: 1.3em;
    height: 1.3em;
    -webkit-appearance: checkbox !important;
    -moz-appearance: checkbox !important;
    -ms-appearance: checkbox !important;
    -o-appearance: checkbox !important;
    appearance: checkbox !important;
}

.tareas--pendientes__checkbox:hover{
    cursor: pointer;
}

.tareas--pendientes__checkbox:checked{
    accent-color: var(--body-select-hover-checked);
}

.tareas--pendientes__btn{
    background-color: var(--color-secundario-main);
    color: var(--color-terciario-main);
    font-size: 1.125em;
    border-radius: 0.5em;
    padding: 0.313em;
}

.tareas--pendientes__btn:hover{
    background-color: var(--body-select-hover-checked);
    color: white;
    cursor: pointer;
}
/* End Main */

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */




@media screen and (max-width:960px) {

    .main__atajos{
        flex-wrap: wrap;
    }

    .atajos__atajo{
        width: 12em;
        margin:0.625em 0;
    }

    .tareas__form{
        flex-wrap: wrap;
    }

    .tareas__select, .tareas__search{
        width: 8em;
        text-align: center;
    }
    .atajo__emoji{
        font-size: 4em ;
    }
}


@media screen and (max-width:768px) {

    .sidebar{
        visibility: hidden;
    }

    .sidebar__toggle{
        display: block;
        font-size: 1em;
        visibility: visible;
    }

    .sidebar--toggle{
        visibility: visible;
    }

    .main{
        padding: 6.25em 0 0 0;
    }

    .header__form{
        width: 11.6em;
    }

    .header__container{
        padding: 0 1em 0 1em;
    }

    .main--toggle{
        padding-left: 12.5em ;
    }

    .header__ul{
        gap: 1em;
    }

    .header__a{
        font-size: 1em;
    }

}

@media screen and (max-width:480px) {
    .header__nav{
        position: fixed;
        right: 200%;
        background-color: var(--color-principal-header);
        top: 6.25em ;
        padding: 0.5em;
        border-bottom-left-radius:10px ;
    }

    .header__nav--toggle{
        right: 0;
    }

    .header__plus{
        display: block;
    }
}

@media screen and (max-width:360px) {
    .sidebar{
        width: 100%;
    }
}

@media screen and (max-width:320px){
    .tareas--pendientes__list{
        font-size: 0.9em;
    }
}
